<h1>Sightings submit</h1>

<p><%= link_to "New Post", new_post_path %></p>

<hr />
<%= will_paginate @posts %>

<% for post in @posts %>

  <div class="post">

     <h2>Title: <%= link_to post.title, post_path(post) %></h2>
<%= form_for post, :html => {:multipart => true} do |f| %>
<%=f.fields_for :assets do |asset_fields| %>
  <% unless asset_fields.object.new_record? %>

<p>
<%= image_tag(asset_fields.object.asset.url(:medium)) %>
</p>

<% end %>
<% end %>
<% end %>


     <p>
        Content: <%=post.content %>
     </p>
<% if signed_in? %>
     <p>
      <%= link_to "Edit", edit_post_path(post) %> |
     </p>
<%end%>
   </div>

<% end %>
<%= will_paginate @posts %> 
